@model EasyHosts.Dashboard.Models.Product

@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../../Content/Images/icons/spot-illustrations/corner-1.png);">
    </div>

    <div class="card-body position-relative">
        <div class="row">
            <div class="col-lg-8">
                <h3>Cadastro de Produtos</h3>
                <p class="mb-0">Preencha as seguinte informações.</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-end">
            <div class="col-auto align-self-center">
                <h5 class="mb-0">Formulário</h5>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">
        <div class="tab-content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()       
                <div class="form">
                    <div class="mb-3">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control", @placeholder = "Valor" } })
                        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(model => model.QuantityProduct, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.QuantityProduct, new { htmlAttributes = new { @class = "form-control", @placeholder = "Quantidade" } })
                        @Html.ValidationMessageFor(model => model.QuantityProduct, "", new { @class = "text-danger" })
                    </div>

                    <div>
                        <input type="submit" value="Novo" class="btn btn-warning" />
                        @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-secondary" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>
