@model EasyHosts.Dashboard.Models.ResetPassword

@{
    ViewBag.Title = "Redefinir a Senha";
    Layout = "~/Views/Shared/_LayoutInitial.cshtml";
}

<main class="main" id="top">
    <div class="container" data-layout="container">
        <div class="row flex-center min-vh-100 py-6">
            <div class="col-md-12 col-lg-10 col-xl-8 col-xxl-6">
                <a class="d-flex flex-center mb-4 text-decoration-none" href="#">
                    <span class="font-sans-serif fw-light fs-5 d-inline-block text-dark">Easy Hosts</span>
                </a>
                <div class="card">
                    <div class="card-body p-4 p-sm-5">
                        <div class="row flex-between-center mb-2">
                            <div class="col-auto">
                                <h5>Redefinir senha</h5>
                            </div>
                            <div class="col-auto fs--1 text-600"><span class="mb-0 undefined">ou</span> <span><a href="@Url.Action("Index", "Home")">Voltar</a></span></div>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                    <div class="form">
                        <span class="help-block">
                            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger text-center", @style = "list-style-type: none" })
                        </span>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        @Html.HiddenFor(model => model.Hash)

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Senha" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirmação de senha" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div>
                            <button class="btn btn-warning d-block w-100 mt-3" type="submit" name="submit">Enviar</button>
                        </div>
                    </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
